* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

/*classes for js*/



.opacity-0 {
  opacity: 0;
  transition: .2s;
}

form i {
  font-size: 0;
  transition: .3s;
  cursor: pointer;
}

.fa-check-circle {
  color: #649e64;
}

.fa-exclamation-circle {
  color: #da4140;
  position: relative;
}

.fa-exclamation-circle:hover, .fa-check-circle:hover {
  transform: scale(1.2);
  
}



.tooltip {
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  padding: 8px 14px;
  border-radius: 3px;
  top: -37px;
  right: 22px;
}

.d-block {
  display: block;
}



.fa-exclamation-circle:hover .tooltip {
  display:block;
}

/*_____*/





.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}

/* Header */
.top-bar {
  background-color: #000;
  display: flex;
  align-items: center;
}
.top-bar .flex {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.top-bar .flex .menu {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .flex .menu ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.top-bar .flex .menu ul li {
  list-style-type: none;
}
.top-bar .flex .menu ul li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/* Burger Menu */
.burger-menu {
  display: none;
}

/* Banner */
.banner {
  background: url(../img/main_banner.png) no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 111px;
  margin-bottom: 138px;
}
.banner-text-items {
  width: 50%;
}
.banner-text-items img {
  margin-bottom: 20px;
}
.banner-text-items h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.banner-text-items .devider {
  width: 65px;
  border: 1px solid #ffffff;
  margin-bottom: 36px;
}
.banner-text-items p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  color: #fff;
  margin-bottom: 40px;
}
.banner-text-items .btn {
  width: 135px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  cursor: pointer;
}
.banner-text-items .btn a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.banner-text .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f0f0f0;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.banner-text .title label {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.banner-text .title label span {
  color: #ff8b38;
}
.banner-text .input_name, .banner-text .input_mail, .banner-text .input_psw {
  width: 360px;
  padding-top: 26px;
  padding-bottom: 30px;
  background: #fff;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text .input_name ::placeholder, .banner-text .input_mail ::placeholder, .banner-text .input_psw ::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.banner-text .input_psw {
  width: 360px;
  padding-top: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text .input_name input, .banner-text .input_mail input, .banner-text .input_psw input {
  width: 285px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 1, 0.16);
  padding: 10px;
}
.banner-text .btn-form {
  width: 360px;
  height: 54px;
  background: #ff8b38;
  border: #ff8b38;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.banner-text .btn-form a {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
}

/* Social */
.social {
  background: #fff;
  display: flex;
  align-items: center;
}
.social .flex-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.social .flex-social .social-text {
  width: 30%;
}
.social .flex-social .social-text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #333333;
  margin-bottom: 4px;
  margin-top: 7px;
}
.social .flex-social .social-text p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}
.social .flex-social .social-icons {
  width: 61%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social .flex-social .social-icons .facebook {
  background-image: url(../img/image.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .twitter {
  background-image: url(../img/twitter.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .google {
  background-image: url(../img/g.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .pint {
  background-image: url(../img/pint.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .inst {
  background-image: url(../img/inst.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .dub {
  background-image: url(../img/dub.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}
.social .flex-social .social-icons .wifi {
  background-image: url(../img/wifi.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

/* Info Section */
.info-section {
  background-color: #f5f5f5;
  display: flex;
}
.info-section .info-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 143px;
  margin-bottom: 114px;
}
.info-section .info-section-container .info-button {
  display: flex;
  flex-direction: column;
}
.info-section .info-section-container .info-button .btn-info {
  background-color: #212121;
  padding: 46px 35px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.info-section .info-section-container .info-button .btn-info a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.info-section .info-section-container .info-button .current {
  background-color: #ff8b38;
}
.info-section .info-section-container img {
  width: 29%;
  margin-top: 25px;
}
.info-section .info-section-container .info-text-items {
  width: 44%;
  
}
.info-section .info-section-container .info-text-items h2 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 48px;
  margin-top: 3px;
  transition: .3s;
}
.info-section .info-section-container .info-text-items p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 47px;
  transition: .2s;
}
.info-section .info-section-container .info-text-items .btn-info-text {
  background-color: #ff8b38;
  padding: 12px 23px;
  border-radius: 3px;
  cursor: pointer;
}

.pos-a-bott {
   position: absolute;
  bottom: 0;
}

.pos-rel-m-h {
  position:  relative;
  min-height: 289px;
}

.info-section .info-section-container .info-text-items .btn-info-text a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Sub List Section */
.sub-list-section {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-list-section .sub-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 135px;
}
.sub-list-section .sub-list-container .sub-list-section-text {
  width: 41%;
}
.sub-list-section .sub-list-container .sub-list-section-text .devider {
  width: 60px;
  border: 1px solid #ff8b38;
  margin-bottom: 26px;
}
.sub-list-section .sub-list-container .sub-list-section-text h2 {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}
.sub-list-section .sub-list-container .sub-list-section-text p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 43px;
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .img-border {
  border: 1px solid #ff8b38;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  padding: 20px 20px;
  position: relative;
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .img-border img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .text-title {
  width: 90%;
  margin-left: 25px;
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .text-title h2 {
  margin: 0;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}
.sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .text-title p {
  margin: 0;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.sub-list-section .sub-list-container img {
  width: 40%;
  box-shadow: 0px 35px 115px 12px rgba(204, 204, 204, 0.84);
}

/* Picture Section */
.picture-section {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}
.picture-section .picture-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 92px;
  margin-bottom: 57px;
}
.picture-section .picture-section-container .picture-section-text {
  width: 40%;
}
.picture-section .picture-section-container .picture-section-text h2 {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 18px;
}
.picture-section .picture-section-container .picture-section-text .devider {
  width: 65px;
  border: 1px solid #ff8b38;
  margin-bottom: 26px;
}
.picture-section .picture-section-container .picture-section-text p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.picture-section .picture-section-container img {
  width: 41%;
  box-shadow: 0px 35px 115px 12px rgba(204, 204, 204, 0.84);
}

/* Why this is awesome */
.awesome {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.awesome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.awesome-container .awesome-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awesome-container .awesome-title h2 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 173px;
  margin-bottom: 21px;
}
.awesome-container .awesome-title .devider {
  width: 60px;
  border: 1px solid #ff8b38;
  margin-bottom: 26px;
}
.awesome-container .awesome-title p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 80px;
}
.awesome-container .awesome-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.awesome-container .awesome-img .awesome-img-wraper {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.awesome-container .awesome-img .awesome-img-wraper .img-border {
  border: 1px solid #ff8b38;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 20px 20px;
  position: relative;
  margin-bottom: 26px;
}
.awesome-container .awesome-img .awesome-img-wraper .img-border img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.awesome-container .awesome-img .awesome-img-wraper h2 {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 23px;
}
.awesome-container .awesome-img .awesome-img-wraper p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

/* Pricing Options */
.pricing {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.pricing-container .pricing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-container .pricing-title h2 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 20px;
}
.pricing-container .pricing-title .devider {
  width: 60px;
  border: 1px solid #ff8b38;
  margin-bottom: 25px;
}
.pricing-container .pricing-title p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 80px;
}
.pricing-wraper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}
.pricing-wraper .pricing-wrap {
  width: 31%;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header {
  text-align: center;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: #333333;
  padding: 15px 0px;
  border-bottom: 1px solid #fff;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header .prize {
  font-family: "Raleway", sans-serif;
  font-size: 94px;
  font-weight: 700;
  background-color: #333333;
  color: #fff;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header .prize span {
  font-size: 35px;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header .text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  background-color: #333333;
  text-align: center;
  padding: 0 0 20px 0;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header .popular {
  background-color: #ff8b38;
  border-bottom: 5px solid #ff8b38;
}
.pricing-wraper .pricing-wrap .pricing-wrap-header .current {
  border-bottom: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 0 14px 0;
}
.pricing-ability ul {
  text-align: center;
}
.pricing-ability ul a {
  text-decoration: none;
  color: #86878b;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
}
.pricing-ability ul a li {
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
  list-style: none;
  padding-top: 9px;
  padding-bottom: 14px;
}

/* Customers */
.customer {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.customer-container .customer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-container .customer-title h2 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 159px;
  margin-bottom: 23px;
  text-align: center;
}
.customer-container .customer-title .devider {
  width: 60px;
  border: 1px solid #ff8b38;
  margin-bottom: 25px;
}
.customer-container .customer-title p {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 63px;
  text-align: center;
}
.customer-container .customer-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 95%;
}
.customer-container .customer-wraper .wrap {
  width: 25%;
}
.customer-container .customer-wraper .wrap .customer-feedback {
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  position: relative;
  margin-bottom: 11px;
}
.customer-container .customer-wraper .wrap .customer-feedback p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 10px 5px 30px 5px;
}
.customer-container .customer-wraper .wrap .customer-feedback ::after {
  top: 100%;
  left: 133px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #f5f5f5;
  border-width: 11px;
  margin-left: -110px;
}
.customer-container .customer-wraper .wrap .customer-icon {
  display: flex;
}
.customer-container .customer-wraper .wrap .customer-icon .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.customer-container .customer-wraper .wrap .customer-icon .name h2 {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.customer-container .customer-wraper .wrap .customer-icon .name span {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Stylish Design */
.design {
  background-image: url(../img/banner.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.design-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.design-container .design-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-container .design-title h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 65px;
  margin-bottom: 24px;
  text-align: center;
}
.design-container .design-title .devider {
  width: 60px;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.design-container .design-title p {
  opacity: 0.8;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 34px;
  text-align: center;
}
.design-container .btn-design {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  cursor: pointer;
  padding: 9px 31px;
  margin-bottom: 63px;
}
.design-container .btn-design a {
  color: #fff;
  font-family: "Open Sans - Semibold";
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

/* Contact Us */
.contact {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-container-input {
  width:90%;
  margin-bottom: 30px;
}
.form-container {
  width:50%;
  position: relative;
}

.form-container i {
    position: absolute;
    right: 0;
    top: 3px;
}

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
    color: #bdbdbd;

}

textarea {
  position: relative;
}

.message .fas {
    position: absolute;
    right: 0;
    top: 3px;
}

.contact-container .contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container .contact-title h2 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 101px;
  margin-bottom: 22px;
  text-align: center;
}
.contact-container .contact-title .devider {
  width: 60px;
  border: 1px solid #ff8b38;
  margin-bottom: 26px;
}
.contact-container .contact-title p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
}
.contact-container .contact-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
  width: 100%;
}
.contact-container .contact-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-container .contact-form form .input_name, .contact-container .contact-form form .input_mail, .contact-container .contact-form form .input_psw {
  border-bottom: 2px solid #f3f3f3;
  padding: 5px 6px;
  margin-bottom: 30px;
  position: relative;
}
.contact-container .contact-form form .input_name input, .contact-container .contact-form form .input_mail input, .contact-container .contact-form form .input_psw input {
  width: 100%;
  outline: none;
}
.contact-container .contact-form form .input_name input ::placeholder, .contact-container .contact-form form .input_mail input ::placeholder, .contact-container .contact-form form .input_psw input ::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.contact-container .contact-form form .input_psw {
  margin-bottom: 0;
}
.message{
  width: 48%;
  position: relative;
}
.contact-container .contact-form textarea {
  min-width: 100%;
  border-bottom: 2px solid #f3f3f3;
  padding: 5px;
  outline: none;
  position: relative;
}
.contact-container .btn-contact {
  background-color: #ff8b38;
  cursor: pointer;
  padding: 14px 23px;
  margin-bottom: 80px;
  border-radius: 3px;
}
.contact-container .btn-contact a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

footer {
  background-color: #000;
  display: flex;
  align-items: center;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
footer .footer-container .footer-social-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
footer .footer-container .footer-social-icons .facebook {
  background-image: url(../img/facebook_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .twitter {
  background-image: url(../img/twitter_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .google {
  background-image: url(../img/google_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .pint {
  background-image: url(../img/pint_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .inst {
  background-image: url(../img/inst_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .dub {
  background-image: url(../img/dub_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer .footer-container .footer-social-icons .wifi {
  background-image: url(../img/wifi_small.png);
  background-size: cover;
  width: 25px;
  height: 25px;
}
footer p {
  opacity: 0.5;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  /* Header */
  .top-bar .flex {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .top-bar .flex .menu {
    width: 60%;
  }

  /* Info Section */
  .info-section .info-section-container .info-text-items {
    width: 44%;
  }
  .info-section .info-section-container .info-text-items p {
    margin-bottom: 13px;
  }
  .info-section .info-section-container .info-text-items h2 {
    color: #000000;
    margin-bottom: 21px;
  }

  /* Sub List Section */
  .sub-list-section .sub-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .sub-list-section .sub-list-container .sub-list-section-text {
    width: 50%;
  }
  .sub-list-section img {
    box-shadow: 0px 35px 115px 12px rgba(204, 204, 204, 0.84);
  }

  /* Why this is awesome */
  .awesome-container .awesome-title h2 {
    margin-top: 50px;
  }

  /* Pricing Options */
  .pricing-container .pricing-title h2 {
    margin-top: 50px;
  }

  /* Customers */
  .customer-container .customer-title h2 {
    margin-top: 50px;
  }

  /* Stylish Design */
  .design-container .design-title h2 {
    margin-top: 50px;
  }

  /* Contact Us */
  .contact-container .contact-title h2 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  /* Header */
  .top-bar .flex .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
  }
  .top-bar .flex .menu-btn span {
    width: 20px;
    margin-left: 15px;
    height: 2px;
    background-color: #ff8b38;
    display: block;
    margin-bottom: 5px;
  }
  .top-bar .flex .menu-btn :first-child {
    margin-top: 16px;
  }
  .top-bar .flex .menu {
    display: none;
  }

  .burger-menu {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  .burger-menu .container-burger {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .burger-menu .container-burger .menu {
    width: 100%;
  }
  .burger-menu .container-burger .menu ul {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
  }
  .burger-menu .container-burger .menu ul li {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ff8b38;
  }
  .burger-menu .container-burger .menu ul li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .burger-menu .container-burger .menu ul :last-child {
    border-bottom: none;
  }

  /* Banner */
  .banner {
    background: url(../img/main_banner.png) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .banner-text-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .banner-text-items img {
    margin-bottom: 10px;
  }
  .banner-text-items h2 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 33px;
    text-align: center;
  }
  .banner-text-items .devider {
    width: 65px;
    border: 1px solid #ffffff;
    margin-bottom: 36px;
    text-align: center;
  }
  .banner-text-items p {
    text-align: center;
  }
  .banner-text .title {
    display: none;
  }
  .banner-text .input_name, .banner-text .input_mail, .banner-text .input_psw {
    display: none;
  }
  .banner-text .input_psw {
    display: none;
  }
  .banner-text .btn-form {
    display: none;
  }

  /* Social */
  .social {
    display: none;
  }

  /* Info Section */
  .info-section .info-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .info-section .info-section-container .info-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 60%;
  }
  .info-section .info-section-container .info-button .btn-info {
    border-radius: 3px;
  }
  .info-section .info-section-container img {
    width: 60%;
    margin-top: 25px;
  }
  .info-section .info-section-container .info-text-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .info-section .info-section-container .info-text-items h2 {
    font-size: 40px;
    text-align: center;
  }
  .info-section .info-section-container .info-text-items p {
    text-align: center;
    margin-bottom: 60px;
  }

  /* Sub List Section */
  .sub-list-section .sub-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sub-list-section .sub-list-container .sub-list-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sub-list-section .sub-list-container .sub-list-section-text h2 {
    color: #212121;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 40px;
    text-align: center;
  }
  .sub-list-section .sub-list-container .sub-list-section-text p {
    text-align: center;
  }
  .sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title {
    display: flex;
    align-items: center;
    width: 40%;
  }
  .sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .img-border {
    border: 1px solid #ff8b38;
    border-radius: 100%;
    width: 1px;
    height: 1px;
    padding: 20px 20px;
    position: relative;
  }
  .sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .img-border img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .text-title {
    width: 90%;
    margin-left: 25px;
  }
  .sub-list-section .sub-list-container .sub-list-section-text .sub-list-section-text-title .text-title h2 {
    text-align: center;
    font-size: 20px;
  }
  .sub-list-section .sub-list-container img {
    width: 60%;
  }

  /* Picture Section */
  .picture-section .picture-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .picture-section .picture-section-container .picture-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .picture-section .picture-section-container .picture-section-text h2 {
    font-size: 30px;
    text-align: center;
  }
  .picture-section .picture-section-container .picture-section-text p {
    text-align: center;
    margin-bottom: 30px;
  }
  .picture-section .picture-section-container img {
    width: 60%;
  }

  /* Why this is awesome */
  .awesome-container .awesome-title h2 {
    text-align: center;
  }
  .awesome-container .awesome-title p {
    text-align: center;
  }
  .awesome-container .awesome-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .awesome-container .awesome-img .awesome-img-wraper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .awesome-container .awesome-img .awesome-img-wraper h2 {
    font-size: 25px;
    text-align: center;
  }
  .awesome-container .awesome-img .awesome-img-wraper p {
    margin-bottom: 25px;
  }

  /* Pricing Options */
  .pricing-title h2 {
    text-align: center;
  }
  .pricing-title p {
    text-align: center;
  }
  .pricing-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  .pricing-wraper .pricing-wrap {
    width: 60%;
    margin-bottom: 20px;
  }

  /* Customers */
  .customer-container .customer-wraper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
  }
  .customer-container .customer-wraper .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  .customer-container .customer-wraper .wrap .customer-feedback {
    width: 70%;
  }
  .customer-container .customer-wraper .wrap .customer-feedback ::after {
    left: 230px;
  }
  .customer-container .customer-wraper .wrap .customer-icon .name {
    margin-left: 30px;
  }

  /* Contact Us */
  .contact-container .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;
    width: 100%;
  }
  .contact-container .contact-form form {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-container .contact-form textarea {
    min-width: 60%;
    max-width: 80%;
  }

  /* Footer */
  footer .footer-container .footer-social-icons {
    width: 60%;
  }
  footer .footer-container .footer-social-icons .facebook, footer .footer-container .footer-social-icons .twitter, footer .footer-container .footer-social-icons .google, footer .footer-container .footer-social-icons .pint, footer .footer-container .footer-social-icons .inst, footer .footer-container .footer-social-icons .dub, footer .footer-container .footer-social-icons .wifi {
    width: 15px;
    height: 15px;
  }

  /* Burger Button */
  .d-none {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
