@media screen and (max-width: 1024px) {
    .mar-bottom-98 {
        margin-bottom: 40px;
    }
    
    .padd-top-86 {
        padding-top: 46px;
    }

    .mar-bottom-88 {
        margin-bottom: 60px;
        
    }

    .padd-top-106 {
        padding-top: 60px;
    }

}