@media screen and (max-width: 1024px) {
    header {
        background-position: center;
        
        h2 {
           letter-spacing: 3px;
            max-width: 90%;
            line-height: 12vw;
            
            &::after {
                margin-top: 6vw;
            }
        }
        
     
        .big {
            display: none;
        }
        
        .learn-more {
            margin-bottom: 14vw;
        }
        
        .slider {
            padding-bottom: 66px;
            .item {
                flex-basis: 22%;
                opacity: 0.7;              
            }
            
            .loaded {
                width: 34%;
            }
        }
    }
    
    .small {
        font-size: 1.3rem;   
    }
}


@media screen and (min-width: 1441px) {
    header {
        h2 {
            font-size: 150px;
            line-height: 140px; 
            &::after {
                margin-top: 6vw;
            }
        }

        h3 {
            font-size: 72px;
        }
    }    
}
