@media screen and  (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: center;

    .g-item {
      flex-basis: 50%;
        
        p {
            font-size: 12px;
        }
        
        .small {
            font-size: 11px;
        }
    }
  }
}