.slogan {
    text-align: center;
    color: #868f93;
    background-color: #d9e1e6;
    font-family: Lato;
    font-size: 8px;
    padding: 8px 0;
}

.cancel:hover {
    cursor: pointer;
}

.logo>img {
    width: 110px;
}

.cancel {
    width: 9px;
    height: 9px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px 0;
}

.cart {
    padding: 10px 32px;
    border: 2px solid #ded3aa;
    color: #111111;
    font-size: 9px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.cart:hover {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    background: #ded3aa;
    color: white;
    font-weight: bold;
}

.currency:hover {
    cursor: pointer;
}

.currency>span {
    font-size: 9px;
}

.currency>img {
    vertical-align: middle;
    margin-right: 7px;
}

.fa-caret-down {
    color: #999999;
    margin-left: 7px;
}


@media screen and (max-width: 530px) {
    .slogan {
        font-size: 8px;
    }
    .currency {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .slogan {
        font-size: 6px;
    }
    .logo>img {
        width: 100px;
    }
    .cart {
        font-size: 9px;
        padding: 8px 20px;
    }

}

