@media screen and (max-width: 1024px) {
  footer {
    
    .contact_info {
      width: 85%;
      justify-content: space-between;
      
      h3 {
        font-size: 18px;
      }

      .subscribe {
        flex-basis: 30%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .contact_info {
      flex-flow: column wrap;
      
      .subscribe {
        .medias {
          justify-content: space-between;
          width: 50%;
        }
      }
    }
  }
}