.form {
  background: #323969;
  padding-top: 6.3%;
  padding-bottom: 5.8%;
  text-align: center;
  // position: relative;
  
  h3 {
    color: $white_color;
  }

  .inputs {
    display: flex;
    width: 79%;
    margin: auto;
    margin-top: 94px;
    justify-content: space-between;
    position: relative;

    .show-tooltip:hover .tooltip {
      opacity: 1;
      transition: .2s;
      z-index: 2;
    }

    .input-box {
      width: 23%; 
      position: relative;
    }

    .info_inp {
      border: 1px solid $white_color;
      background-color: #464c77;
      border-radius: 3px;
      // width: 23%;
      width: 100%;
      height: 48px;
      color: #f6f5f3;
      font-size: 16px;
      padding: 0 26px;
      box-sizing: border-box;
      
      &::placeholder {
        color: #f6f5f3;
      }

      

      &[type=submit] {
        color: $white_color;
        font-size: 16px;
        border: 0;
        background: $red_color;
        width: 23%;
        height: 50px;
        padding: 0;
      }
    }

    .disabled {
      cursor: not-allowed; 
      opacity: 0.7;
    }

    .border-success {
      -webkit-box-shadow: 0px 0px 20px 3px #28cc40;
      -moz-box-shadow: 0px 0px 20px 3px #28cc40;
      box-shadow: 0px 0px 20px 3px #28cc40;
    }

    .border-error {
      -webkit-box-shadow: 0px 0px 20px 3px $red_color;
      -moz-box-shadow: 0px 0px 20px 3px $red_color;
      box-shadow: 0px 0px 20px 3px $red_color;
    }

    .tooltip {
      background: $red_color;
      border: 1px solid $red_color;
      width: max-content;
      border-radius: 5px;
      padding: 7px 10px;
      position: absolute;
      color: white;
      z-index: -1;
      top: -48px;
      left: 14px;
      opacity: 0;
      transition: .2s;
    }

    .show-tooltip {
      transition: .2s;
      opacity: 1;
    }
    
    .threeangle {
      position: absolute;
      width: 10px;
      height: 10px;
      background: $red_color;
      border: 1px solid $red_color;
      z-index: -1;
      transform: rotate(45deg);
      top: 26px;
      left: 16px;
      
    }


    img {
      position: absolute;
      right: 29px;
      top: -57px;
      height: auto;
    }
  }

  h6 {
    font-size: 16px;
    text-align: center;
    color: #f6f5f3;
    font-weight: 100;
    margin: 3.4% 0 0 0;
    @include spacing (.64px, -1px);

    span {
      text-decoration: underline;
    }
  }
}

@import 'form_responsive';