.form {
  background: #323969;
  padding-top: 6.3%;
  padding-bottom: 5.8%;
  text-align: center;
  
  h3 {
    color: $white_color;
  }

  .inputs {
    display: flex;
    width: 79%;
    margin: auto;
    margin-top: 94px;
    justify-content: space-between;
    position: relative;

    .info_inp {
      border: 1px solid $white_color;
      background-color: #464c77;
      border-radius: 3px;
      width: 23%;
      height: 48px;
      color: #f6f5f3;
      font-size: 16px;
      padding: 0 26px;
      box-sizing: border-box;
      
      &::placeholder {
        color: #f6f5f3;
      }

      &[type=submit] {
        color: $white_color;
        font-size: 16px;
        border: 0;
        background: $red_color;
        width: 23%;
        height: 50px;
        padding: 0;
      }
    }

    img {
      position: absolute;
      right: 29px;
      top: -57px;
      height: auto;
    }
  }

  h6 {
    font-size: 16px;
    text-align: center;
    color: #f6f5f3;
    font-weight: 100;
    margin: 3.4% 0 0 0;
    @include spacing (.64px, -1px);

    span {
      text-decoration: underline;
    }
  }
}

@import 'form_responsive';